.about {
  background-color: lightgreen;
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 5rem;
  padding-left: 2.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-image: url("../../Images/aboutbg.jpg");
  /* background-blend-mode: soft-light; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about > h1 {
  font-size: 60px;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  color: #1d090c;
}
.about > p {
  font-size: 30px;
  font-weight: 880;
  color: #1d090c;
}
.about > .secondary-p {
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 650;
  color: #1d090c;
}
.skills {
  margin-top: 2rem;
}
.skills > h3 {
  margin-bottom: 0.5rem;
  font-size: 25px;
  color: #1d090c;
}

.skills > li {
  font-size: 20px;
  font-weight: 650;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
  color: #1d090c;
}

@media (min-width: 1400px) {
  .about > h1 {
    margin-bottom: 5.5rem;
  }
}
