.contact {
  position: relative;
  background-color: lightblue;
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-image: url("../../Images/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-heading {
  position: absolute;
  top: 16%;
  left: 10%;
  font-size: 60px;
  letter-spacing: 0.5rem;
}

.contact-container {
  margin-top: 15rem;
  padding: 1rem;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container > p {
  font-size: 23px;
  font-weight: 880;
  color: #20124d;
}
.contact-container > .secondary-p {
  margin-top: 3rem;
  font-size: 20px;
  font-weight: 650;
  color: #213035;
}
.contact-container > p > .icon {
  height: 22px;
  width: 25px;
}

@media (max-width: 600px) {
  .contact-heading {
    font-size: 45px;
  }
  .contact-container > p {
    font-size: 18px;
  }
  .contact-container > .secondary-p {
    font-size: 16px;
  }
}
