@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  .rightContainer > h1 {
    font-size: 25px !important;
  }
  .rightContainer > p {
    font-size: 20px !important;
  }

  .menu > ul > li {
    font-size: 20px !important;
  }
  .menu {
    max-width: 350px;
  }
}
@media (max-width: 500px) {
  .menu {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
